body {
    background-color: azure;
    font-family: sans-serif;
    /*padding-left: 400px;
    padding-right: 400px;
    */
}
#dot1{
    color: green;
    display: inline-block;
}
#them{
    font-family: sans-serif;
    background-color: orange;
   text-align: center;
}
.A{
    text-align: center;
}
.DAT{
    text-align: center;
}
li{
    text-align: center;
}
#time{
    display: inline-block;
}
#bord h2{
    color: white;
}
#bord li{
    color:bisque;
}
#sas{
    float:left;
}
#bord{
    float:right;
    width: 50%;
}
